.mainGrid{
    display:grid;
    
}
.header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 30px;
    color: white;
    position: fixed;
    width:100%;    
}
.headerInnerdiv{
    display: grid;
    grid-template-columns: auto auto;
}
.bodyPart{
    
    margin-top: 12%;    
}
.footer{
    display:grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 30px;
    color: white;
}