.mainGrid{
    display:grid;
    padding-bottom: 30px
}
.header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 30px;
    color: white;
    position: fixed;
    width:100%;    
}
.headerInnerdiv{
    display: grid;
    grid-template-columns: auto auto;
}
.bodyPart{
    
    margin-top: 5rem;    
}
.footer{
    display:grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 30px;
    color: white;
    width: 100%;
    position: fixed;
  bottom: 0;
  animation: fadeInAnimation ease 1s ;
 
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.applyMobileView{
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(30,30,30));
    
    width:100%;
    height: 120px;
}
.applyMobileViewButton {
    background-color: #fdef78 ;
    width:37rem;
    
}
.applyInput{
    background-color: #454b51;
    height: 3.2rem;
    width: 20rem
    
}
.applyInput::placeholder{
    padding-left: 6px;
    font-weight: 400;
    color: #767d80;
    
}
.applyButton{
    background-color: #fdef78 ;
    margin-left: -6.5rem;
    font-size: small;
    padding-top: 11px;
    padding-bottom: 11px;
}
.declarationText{
    font-size: xx-small;
}